<p>
  <mat-toolbar>
    <span>{{title}}</span>
  </mat-toolbar>
</p>
<div class="row">
  <div class="col-6 m-5">
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" [(ngModel)]="name">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Card Number</mat-label>
        <input matInput placeholder="Card Number" [(ngModel)]="card" minlength="16" maxlength="16">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Limit</mat-label>
        <input matInput placeholder="Limit" type="number" [(ngModel)]="limit" min="0">
      </mat-form-field>
    </div>

    <section>
      <div class="example-button-row">
        <button (click)="add()" color="accent">ADD</button>
      </div>
    </section>
  </div>

</div>
<div class="row">
  <div class="col-10 m-5">
    <table mat-table [dataSource]="allCards" class="mat-elevation-z8">

      <ng-container matColumnDef="CardName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.CardName}} </td>
      </ng-container>

      <ng-container matColumnDef="CardNumber">
        <th mat-header-cell *matHeaderCellDef> Card Number </th>
        <td mat-cell *matCellDef="let element"> {{element.CardNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="Balance">
        <th mat-header-cell *matHeaderCellDef> Balance </th>
        <td mat-cell *matCellDef="let element"> {{element.Balance}} </td>
      </ng-container>

      <ng-container matColumnDef="CardLimit">
        <th mat-header-cell *matHeaderCellDef> Limit </th>
        <td mat-cell *matCellDef="let element"> {{element.CardLimit}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>